@tailwind base;
@tailwind components;
@tailwind utilities;

.searchbar {
    width: max(70%, 30%);
    transition: box-shadow 0.3s ease;
}
.site-wrap {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.buttons-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
}
.sb {
    width: max(70%, 30%);
    transition: box-shadow 0.3s ease;
}
.picture-round {
    border-radius: 33px;
}

@media (max-width: 850px) {
    .searchbar{
        display: none;
    }
    .shopping-cart{
        display: none;
    }
    .hamburger-menu {
        display: block;
    }

    .searchbar-dropdown {
        display: block;
    }
}

.image-width {
    width: max(80%, 30%);
}
.section-width {
    width: max(90%, 30%);
}